body {
  background-image: url("../public/background.jpeg");
  background-repeat: repeat;
  background-size: cover;
}

.dot {
  position: relative;
  width: 30px;
  height: 30px;
  margin: 14px;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  justify-content: center;
  align-items: center;
}
